@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}

header {
    background-color: #f0f0f0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
    padding: 10px 150px;
}

.logo {
    text-decoration: none;
    color: #cb5b05;
    font-size: 1.8em;
    font-weight: 800;
    text-transform: uppercase;
}

.navigation a {
    text-decoration: none;
    color: #cb5b05;
    font-size: 1.1em;
    font-weight: 300;
    padding-left: 30px;
}

.navigation a:hover {
    color: rgb(211, 173, 3);
}

.fb,
.tw,
.ig,
.gh {
    font-size: 1.7em;
    padding-right: 30px;
    color: #fafafa;
}

.fb:hover {
    color: #cb5b05;
}

.tw:hover {
    color: #cb5b05;
}

.ig:hover {
    color: #cb5b05;
}

.gh:hover {
    color: #cb5b05;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image:url("../images/8351153.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4em;
}

.text h4 {
    color: rgb(173, 173, 173);
}

.main h2 span {
    color: #e1a20f;
    font-size: 2em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    position: relative;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    text-decoration: none;
    color: #fff;
    background-color: #cb5b05;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #e1a20f;
    transform: scale(1.1);
}

.title {
    display: flex;
    justify-content: center;
    color: #ff9900;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /
}

#about {
    background-color: #6f644e; 
    color: #faf7f7; 
    padding: 20px; 
  }
  
  #about h2 {
    color: #ff9900;

  }
  
  #about p {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

.skills{
    background-color: #474035;
}

.card {
    background-color: #ffffff;
    width: 20.20em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #cb5b05;
    font-size: 6em;
    text-align: center;
}

.info h3 {
    color: #cb5b05;
    font-size: 0.8em;
    font-weight: 700;
    margin: 10px;
}

.info {
    text-align: center;
}

.card .info p {
    color: rgb(0, 0, 0); 
    font-size: 0.7em;
}

.info a {
    text-decoration: none;
    color: #000000;
}

.info a:hover {
    color: hsl(0, 0%, 0%);
}

.projects {
    background-color: #313030;
}

.project .content {
    margin-top: 30px;
}

.project-card {
    background-color: #e7e3e3;
    border: 1px solid #4f4f4f;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-image img {
    width: 100%;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.8;
}

.project-info {
    padding: 1em;
}

.project-catogrey {
    font-size: 0.8em;
    color: rgb(1, 1, 1, 0.5);
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #cb5b05;
}

.more-details:hover {
    color: #cb5b05;
}

.up {
    text-align: center;
    font-size: 2.30em;
}

.up .btn-up {
    text-decoration: none;
    color: #cb5b05;
    font-weight: 600;
    display: flex;
    transition: 0.7s ease;
    position: fixed;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}

.btn-up:hover {
    color: #cb5b05;
    transform: scale(1.1);
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.Certifficate {
    background-color: #302820;
}

#contact {
    background-color:#1e1b15; 
    color: #333; 
    padding: 20px; 
    text-align: center;
  }
  
  #contact .title {
    color: #ff9900; 
    margin-bottom: 20px;
  }
  
  #contact .content {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
  
  #contact .card {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
  }
  
  #contact .card .icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #cb5b05;
  }
  
  #contact .card .info h3 {
    color: #000000;
    margin-bottom: 10px;
  }
  
  #contact .card .info p a {
    color: #cb5b05;
    text-decoration: none;
  }
  
  #contact .card .info p a:hover {
    text-decoration: underline;
  }
  

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #cb5b05;
}

.footer-title span:hover {
    color: #cb5b05;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width: 1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main h2 {
        font-size: 1em;
    }

    .main h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 641px) {
    body {
        font-size: 12px;
    }

    .main h2 {
        font-size: 0.8em;
    }

    .main h3 {
        font-size: 1.4em;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 12px;
    }
}
